function Fibonacci 4
    push argument 0
    push constant 0
    eq
    if-goto END0
    push argument 0
    push constant 1
    eq
    if-goto END1
    push argument 0
    pop local 0
    push constant 0
    pop local 1
    push constant 1
    pop local 2
    push constant 0
    pop local 3
    label LOOP
        push local 0
        push constant 1
        eq
        if-goto END
        push local 1
        push local 2
        add
        pop local 3
        push local 2
        pop local 1
        push local 3
        pop local 2                       
        push local 0 
        push constant 1
        sub
        pop local 0
        goto LOOP
    label END0
    push constant 0
    pop local 3
    goto END
    label END1
    push constant 1
    pop local 3
    label END
    push local 3
    return
